body{
    margin: 0px;
    background-image: linear-gradient(to left,rgb(39, 175, 175),rgb(211, 211, 211),rgb(39, 175, 175));
}
.ENCABEZADO{
    margin-top: 100px;
    text-align: center;
    background-image: linear-gradient(to left,rgb(39, 175, 175),rgb(211, 211, 211),rgb(39, 175, 175));
    
}
.ENCABEZADO_OPCIONS{
    margin-top: 120px;
    margin-bottom: 200px;
}
.ENCABEZADO_ENLACES{
    
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to left,rgb(27, 27, 27),rgb(211, 211, 211),rgb(27, 27, 27));
    
}
.ENCABEZADO_ENLACES a {
    margin-top: 150px;
    color: white;
    text-decoration: none;
    font-size: 30px;
    height: 160px;
    
    
}
.BLOQUES{
    border: 6px solid black;
    text-align: center;
}
