body{
    margin: 0px;
    background-color: bisque;
    
}
:root {
    --fuente-titulos:"Notable", serif;
    --fuente-subtitulos:"Roboto", serif;
}
body  :is(h1,h2, .ENCABEZADO_ENLACES a ) {
    font-family: var(--fuente-titulos);
}
p, 
h3, a {
    font-family: var(--fuente-subtitulos); /****FUENTE GENERAL***/
    text-decoration: none;                                                                               /****se usa combinador logico***/
}
:any-link{
    color: black;
}

/***********************************************/
/***********************************************/
/************ENCABEZADO Y ENLACES---************/
/***********************************************/
.ENCABEZADO{
    margin-top: 100px;
    text-align: center;
    background-color: bisque;
    
}
.ENCABEZADO_OPCIONS{
    margin-top: 120px;
    margin-bottom: 200px;
}
.ENCABEZADO_ENLACES{ 
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);  
}
.ENCABEZADO_ENLACES a {
    margin-top: 150px;
    color: white;
    text-decoration: none;
    font-size: 30px   
}
.ENCABEZADO_ENLACES a:hover{
    color: bisque;
    font-size: 60px;
    
}
a[href="#REGLAS"]{
    margin-bottom: 150px;
}
a[href="#enca"] {
    color: #ffffffd7;
    background-color: black;
}
/***********************************************/
/***********************************************/
.BLOQUES{                          /*******************************/
    border-bottom: 6px solid black;    /**BLOQUES DE TEMAS GENERAL*****/
                                        /********(Se aplica BEM)********/
}

.BLOQUES :is(.BLOQUES_SUBTITULO , .BLOQUES_GENERAL)
 {           /********************************/
    text-align: start;        /*******SUBTITULOS Y GENERAL********************************/
    margin-left: 100px;       /*******(Se aplica BEM) y (Combinadores logicos)**********/
    margin-bottom: 50px;
    margin-top: 60px;
}

.BLOQUES_EJEMPLOS > div {       /******************************************/
    border: 2px solid rgb(59, 30, 7); /*****BLOQUES EJEMPLO Y CONTENEDORES*******/
    border-radius: 6px;       /********(Se aplica combinadores)**********/
    margin: 10px;
    text-align: center;  
}
.BLOQUES_EJEMPLOS  :hover{
    background-color: rgb(255, 195, 122);
}
.BLOQUES_EJEMPLOS  p {     /**********************************/
    text-align: left;     /****BLOQUES DE EJEMPLO Y TEXT*****/
    margin-left: 20px;  /****(Se aplica combinadores)******/  
    margin-bottom: 30px; 
       
}
/***********************************************/
/***********************************************/
.imagenEj{
    width: 500px;      /***************************/
}                     /*****IMAGENES TAMAÑO*******/
                     /******(Se aplica BEM)******/

/***********************************************/
/***********************************************/
.TABLAS {
    border-radius: 3px;                         /*************************/
    border: 5px solid rgb(37, 13, 4);       /****TABLAS DIV GENERAL****/
    margin: 20px;                             /******(Se aplica BEM)****/
    background-color: rgba(251, 240, 191, 0.959);
}

.TABLAS :is(.TABLAS_COMBINADORES, .TABLAS_COMBINADORESlog, .TABLAS_PSEUDOCLASES){     /*************************************************/
    width: 100%;                                             /***TABLAS TAMAÑO*********************************/
    height: 300px;                                            /***(Se aplica BEM) (Combinadores logicos)********/
}
.TABLAS_COMBINADORES :not(.TABLAS ) {     /********************************************/
                                         /*******EXCEPCION TABLAS COMBINADORES Y PSEUDOCLASES********/
    color: black;                     /***********(Combinadores logicos)***********/
}
.TABLAS_PSEUDOCLASES :not(.TABLAS){  
    color: black;
}
.TABLAS_COMBINADORESlog img {           
    width: 100%;                   
    margin: 3px;
}

.ej-hover:hover {
    background-color: aquamarine;
}
.ej-active:active {
    background-color: red;  
}
.ej-focus:focus {
    border: 5px dotted #dc0000;
} 
.ej-focus-within:focus-within{
    background: yellow;
}
.ej-focus-visible {
    border: 2px solid blue;
    outline: none;
}




